<!DOCTYPE html>
<html>
<head>
    <title>Laramab</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon_io/site.webmanifest">

    <meta property="og:title" content="Laramab official website">
    <meta property="og:site_name" content="Laramab">
    <meta property="og:url" content="https://laramab.com">
    <meta property="og:description" content="The power laravel blog for cambodian people who want to keep learning with latest laravel framework and many plugins tool.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1730&q=80">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant|Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/media-query-screen.css">
</head>
<body>
<div id="app">
    <header>
        <div id="open" class="app-bg-card"><i class="fa fa-home"></i></div>
        <div class="app-nav-drawer close" id="app-menu">
            <div class="app-nav-drawer-name branch-text">LaraMab</div>
            <div class="app-nav-drawer-list">
                <div class="app-nav-drawer-item active">
                    <span><i class="fa fa-home"></i></span>
                    <span>Home</span>
                </div>
                <div class="app-nav-drawer-item">
                    <span><i class="fa fa-video-camera"></i></span>
                    <span>Videos</span>
                </div>
                <div class="app-nav-drawer-item">
                    <span><i class="fa fa-paper-plane"></i></span>
                    <span>Blog</span>
                </div>
                <div class="app-nav-drawer-item">
                    <span><i class="fa fa-newspaper-o"></i></span>
                    <span>News</span>
                </div>
                <div class="app-nav-drawer-item">
                    <span><i class="fa fa-gavel"></i></span>
                    <span>Tools</span>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="app-intro col-12 margin-bottom margin-top">
                <h1>Welcome to <span class="branch-text">LaraMab</span>.com</h1>
            </div>
            <div class="col-12">
                <div class="app-banner app-bg-card margin-bottom">
                    <div class="content-left">
                        <h3>Answer to Your Eye Question!</h3>
                        <p>You wish to have khmer web development online course</p>
                    </div>
                    <div class="content-right">
                        <button class="app-btn-main app-bg-card">Getting Started</button>
                    </div>
                </div>
            </div>
            <div class="col-12 margin-bottom">
                <div class="row">
                    <app-box-item v-for="(title, key) in projects"
                                  :key="key"
                                  :title="title"/>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4"
                         v-for="(post, key) in posts">
                        <div class="app-box">
                            <div class="app-box-header"
                                 :style="`background-image: url('${post.thumbnail}')`">
                                <div class="app-box-title">
                                    <p>News, Technology, Bootcamp</p>
                                </div>
                            </div>
                            <div class="app-box-body">
                                <div class="app-box-body-date app-bg-card">{{ getDate() }}</div>
                                <h3 class="block-with-text">{{ post.title }}</h3>
                                <p class="text-muted">{{ post.description }}</p>
                            </div>
                            <div class="app-box-footer">
                                <span class="text-uppercase">Read More</span>
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="assets/js/vue.js"></script>
<script type="text/javascript">
    $(function () {
        $(document).on('click', '.app-nav-drawer-item', function (e) {
            e.preventDefault()
            $('#app-menu').attr('class', 'app-nav-drawer close')
            $('#app-menu').find('.active').attr('class', 'app-nav-drawer-item')
            $(this).attr('class', 'app-nav-drawer-item active')
        })
        $(document).on('click', '#open', function (e) {
            e.preventDefault()
            $('#app-menu').attr('class', 'app-nav-drawer')
        })
    })

    Vue.component('app-box-item', {
        template: `
            <div class="col-12 col-md-3 col-sm-6">
                <div class="app-card">
                    <h3>{{ title }}</h3>
                </div>
            </div>
        `,
        props: {
            title: {
                type: String,
                required: true
            }
        }
    })

    new Vue({
        el: '#app',
        data() {
            return {
                posts: [
                    {
                        id: 1,
                        title: 'Use our powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system.',
                        description: 'See how aspects of the Bootstrap grid system work across multiple devices with a handy table.',
                        tags: ['Technology', 'Web', 'Design'],
                        thumbnail: 'assets/img/screenshots/01.jpeg',
                        createdAt: (new Date)
                    },
                    {
                        id: 2,
                        title: 'Use our powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system.',
                        description: 'See how aspects of the Bootstrap grid system work across multiple devices with a handy table.',
                        tags: ['Technology', 'Web', 'Design'],
                        thumbnail: 'assets/img/screenshots/02.jpeg',
                        createdAt: (new Date)
                    },
                    {
                        id: 3,
                        title: 'Use our powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system.',
                        description: 'See how aspects of the Bootstrap grid system work across multiple devices with a handy table.',
                        tags: ['Technology', 'Web', 'Design'],
                        thumbnail: 'assets/img/screenshots/03.jpeg',
                        createdAt: (new Date)
                    },
                    {
                        id: 4,
                        title: 'Use our powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system.',
                        description: 'See how aspects of the Bootstrap grid system work across multiple devices with a handy table.',
                        tags: ['Technology', 'Web', 'Design'],
                        thumbnail: 'assets/img/screenshots/04.jpeg',
                        createdAt: (new Date)
                    },
                    {
                        id: 5,
                        title: 'Use our powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system.',
                        description: 'See how aspects of the Bootstrap grid system work across multiple devices with a handy table.',
                        tags: ['Technology', 'Web', 'Design'],
                        thumbnail: 'assets/img/screenshots/05.jpeg',
                        createdAt: (new Date)
                    },
                    {
                        id: 6,
                        title: 'Use our powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system.',
                        description: 'See how aspects of the Bootstrap grid system work across multiple devices with a handy table.',
                        tags: ['Technology', 'Web', 'Design'],
                        thumbnail: 'assets/img/screenshots/06.jpeg',
                        createdAt: (new Date)
                    },
                ],
                projects: [
                    'PHP Bootcamp',
                    'Laravel',
                    'Vuejs',
                    'Nodejs'
                ]
            }
        },
        methods: {
            getDate() {
                const months = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
                let current_datetime = new Date()
                let formatted_date = current_datetime.getDate() + " " + months[current_datetime.getMonth()] + ", " + current_datetime.getFullYear()
                return formatted_date;
            }
        }
    })
</script>
</body>
</html>
